<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>New account</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body class="bg-info">

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Go back </a>
			</div>
		</div>
	</nav>

<br>
<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered with you account
						</div>
				</div>

				<h1>Account Opening form</h1>
				<form th:action="@{/new}" method="post" th:object="${accc}" >

					<div class="form-group">
						<label class="control-label" for="acc"> Account Number </label>
						<input id="acc" class="form-control" th:field="*{accountNumber}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="atc"> Account Type Code </label>
						<select  class="form-control" id="atc"  th:field="*{accountTypeCode}">
							<option value="0">Select option</option>
							<option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
						</select>
						<!---
						<input
							id="atc" class="form-control" th:field="*{accountTypeCode}"
							required autofocus="autofocus" /> -->
					</div>

					<div class="form-group">
						<label class="control-label" for="bb"> Balance </label>
						<input
							id="bb" class="form-control" th:field="*{balance}" required
							autofocus="autofocus" />
					</div>
					<div class="form-group">
						<label class="control-label" for="ov"> Overdraft limit </label>
						<input
							id="ov" class="form-control" th:field="*{overDraftLimit}" required
							autofocus="autofocus" />
					</div>


					<div class="form-group">
						<button type="submit" class="btn btn-success">Create account</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>